@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p style="color: white; font-size: 35px; text-align:center; text-decoration:underline,overline">Film Fanatics respects the privacy of everyone who uses our website. This Privacy Notice is designed to inform you
    , as a user of our website, about the types of personal information that Film Fanatics may gather about or collect from you in connection with your use of 
    our sites. It is also intended to explain the conditions under which Company uses and discloses that personal information, and your rights
    in relation to that personal information.
</p>
