@model Assignment3_SP2023_rggrant1.Models.MovieActor

@{
    ViewData["Title"] = "Details";
}

<h1 style="color: white; font-size: 25px; font-family: 'Courier New', monospace; text-decoration:underline,overline">Details</h1>

<div style="color: white; font-size: 20px; font-family: 'Courier New', monospace; text-decoration:underline,overline">
    <h4>MovieActor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor.Name)
        </dd>
    </dl>
</div>
<div style="color: white; font-size: 20px; font-family: 'Courier New', monospace; text-decoration:underline,overline">
    <a asp-action="Edit" asp-route-id="@Model?.MovieActorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
