@model Assignment3_SP2023_rggrant1.Models.MovieDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1 style="color: white; font-size: 25px; font-family: 'Courier New', monospace; text-decoration:underline,overline">Details</h1>

<h2 style="color: white; font-size: 25px; font-family: 'Courier New', monospace; text-decoration:underline,overline">What Twitter is Saying:</h2>
<div style="color: white; font-size: 25px; font-family: 'Courier New', monospace; text-decoration:underline,overline">
    <a asp-action="Edit" asp-route-id="@Model?movie.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>

    <div style="color: white; font-size: 25px; font-family: 'Courier New', monospace; text-decoration:underline,overline">
            Average Tweet Sentiment:
        @if (Model.AverageTweetSentiment() != 0)
        {
                    <span>@string.Format("{0:n2}", Math.Abs(Model.AverageTweetSentiment()) * 100)%</span>
        }

        @if (Model.AverageTweetSentiment() > 0)
        {
                    <span>Positive</span>
        }
        else if (Model.AverageTweetSentiment() < 0)
        {
                    <span>Negative</span>
        }
        else
        {
                    <span>Neutral</span>
        }
</div>
        <table class="table" style="color: white; font-size: 25px; font-family: 'Courier New', monospace; text-decoration:underline,overline">
            <thead>
                <tr>
                    <th>
                        Twitter Sentiment
                    </th>
                    <th>
                        Tweets
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var tweet in Model.Tweets)
            {
                        <tr>
                            <td>
                        @tweet.Sentiment
                            </td>
                            <td>
                        @tweet.TweetText
                            </td>
                        </tr>
            }
            </tbody>
        </table>

</div>
